<h1>Teetimes</h1>
<a href="/teetime/create">Add a New Teetime</a>

<section class="row card-group">
    <table class="table table-dark">
        <thead>
        <tr>

            <th scope="col">Golfer Name</th>
            <th scope="col">Holes</th>
            <th scope="col">Cart</th>
            <th scope="col">Date</th>
            <th scope="col">Green Fee</th>
            <th scope="col">Edit link</th>
        </tr>
        </thead>
        <tbody>
        {{#each teetime}}
            <tr>

                <td>{{this.golferName}}</td>
                <td>{{this.holes}}</td>
                <td>{{this.cart}}</td>
                <td>{{this.date}}</td>
                <td>{{this.greenFee}}</td>
                <td><a href="/teetime/edit/{{this._id}}" class="btn btn-info text-light">Edit</a></td>
            </tr>
        {{/each}}

        </tbody>

    </table>
</section>


