<h1>Teetimes</h1>
<a href="/teetime/create">Add a New Teetime</a>

<section class="row card-group">
    <table class="table table-dark">
    {{#each teetime}}
        <div class="col-sm-6 col-lg-4 mb-3">
            <div class="card mb-4 text-center h-100">
                <div class="card-body">
                    <h5>Name is: {{this.golferName}}</h5>
                    <h5>Holes' number is: {{this.holes}}</h5>
                    <h5>Cart's number is: {{this.cart}}</h5>
                    <h5>Date is: {{this.date}}</h5>
                    <h5>GreenFee is: {{this.greenFee}}</h5>
                    <a href="/teetime/edit/{{this._id}}" class="btn btn-info text-light">Edit</a>

                </div>
            </div>
        </div>
    {{/each}}
    </table>
</section>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Golfer Name</th>
        <th scope="col">Holes</th>
        <th scope="col">Cart</th>
        <th scope="col">Date</th>
        <th scope="col">Green Fee</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>

